@model HomeViewMode
@using ShopСlothes.ViewModels
@{
    ViewData["Title"] = "Home Page";
}
<div class="col-lg-4">
    @{
        foreach (Car item in Model.favCar)
        {//перебираем все машини


            <img class="img-thubnail" src="@item.Img" alt="@item.Name" />
            <h2>@item.Name</h2>
            <p>@item.ShortDesc</p>
            <p>item-></p>

            @item.Price.ToString("c")
            ;
            <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCarss" asp-route-id="@item.Id" erhref="#">Добавить в корзину</a></p>
        }
    }
</div>
